<div class="container content">
	<div class="row-fluid">
		<h1>Meet The Team</h1>
		<p>We are leaders in the youth media and tech space. We have worked for companies such as The Walt Disney Company, Facebook, Togetherville, Yahoo!, Pearson Education and other leading youth focused companies.</p>
				<div class="span12">	
		<h2>Core Team</h2>
		</div>
		
		<div class="span3">
			<h3>Mandeep Dhillon</h3>
		</div>

		<div class="span3">		
			<h3>Kabir Mahal</h3>
		</div>
		
		<div class="span3">
			<h3>Derek Baird</h3>
		</div>
		
		<div class="span3">
			<h3>Jeff Bayer</h3>
		</div>
		
		<div class="span12">		
			<h2>Summer Interns</h2>
		</div>
		
		<div class="span3">
			<h3>Ashley Qian</h3>
		</div>
		
		<div class="span3">
			<h3>Mark Koslow</h3>
		</div>
		
		<div class="span3">
			<h3>Angie Yu</h3>
		</div>
		
		<div class="span3">
			<h3>Ian McCarthy</h3>
		</div>
		
		<div class="span3">
			<h3>Sophie Guo</h3>
		</div>
		
		<div class="span3">
			<h3>Sanjana Baldwa</h3>
		</div>
		
		<div class="span3">
			<h3>Christine Kim</h3>
		</div>
	</div>
</div>
