<div class="container content">
	<h2>Meet The Team</h2>
	<p>We are leaders in the youth media and tech space. We have worked for companies such as The Walt Disney Company, Facebook, Togetherville, Yahoo!, Pearson Education and other leading youth focused companies.</p>
	<h3>Core Team</h3>
	<div class="row-fluid">
		<div class="span3">
			<h4>Mandeep Dhillon</h4>
		</div>

		<div class="span3">		
			<h4>Kabir Mahal</h4>
		</div>
		
		<div class="span3">
			<h4>Derek Baird</h4>
		</div>
		
		<div class="span3">
			<h4>Jeff Bayer</h4>
		</div>
	</div>

	<h3>Summer Interns</h3>

	<div class="row-fluid">
		<div class="span3">
			<img class="profile-image" src="/team/ashley.jpg">
			<h4>Ashley Qian</h4>
		</div>
		
		<div class="span3">
			<img class="profile-image" src="/team/mark.jpg">
			<h4>Mark Koslow</h4>
		</div>
		
		<div class="span3">
			<img class="profile-image" src="/team/angie.jpg">
			<h4>Angie Yu</h4>
		</div>
		
		<div class="span3">
			<img class="profile-image" src="/team/ian.jpg">
			<h4>Ian McCarthy</h4>
		</div>
	</div>

	<div class="row-fluid">	
		<div class="span3">
			<img class="profile-image" src="/team/sophie.jpg">
			<h4>Sophie Guo</h4>
		</div>
		
		<div class="span3">
			<h4>Sanjana Baldwa</h4>
		</div>
		
		<div class="span3">
			<h4>Christine Kim</h4>
		</div>
	</div>
</div>
