<div class="container content">
	<h2>We're Hiring!</h2>
	<div class="row-fluid job-description-body">
		<p>
			We are looking for Lead Ninja-neers who can not only code, but are excited to learn and participate in all facets of building a young company. We have a laidback (uniform free) environment and enjoy discussing new product ideas, designing features, hacking, and disrupting class. Being popular (or even liked) in high school is not a requirement...
		</p>
		<div class="accordion" id="body-group">
			<div class="accordion-group">
				<a class="accordion-toggle body-item" data-toggle="collapse" data-parent="#body-group" href="#android"><h4>Lead Android Engineer</h4>
				</a>
				<a class="accordion-toggle body-item" data-toggle="collapse" data-parent="#body-group" href="#ios">
					Lead iOS Engineer
				</a>
				<a class="accordion-toggle body-item" data-toggle="collapse" data-parent="#body-group" href="#backend">
					Lead Backend Engineer
				</a>
				<div id="android" class="accordion-body collapse">
					<div class="accordion-inner body-inner">
						<h3>RESPONSIBILITIES</h3>
						<ul>
							<li>Lead the implementation of new product features for the wislr app</li>
							<li>Build beautiful user interfaces while maintaining ongoing product features</li>
							<li>Collaborate with the team around the creation of new features</li>
							<li>Prototype and test product features frequently</li>
							<li>Contribute radically new and different views to each idea</li>
							<li>Writing clean, maintainable code while rapidly iterating and shipping</li>
							<li>Be fun and interesting, and at least a little weird</li>
						</ul>	 
						<h3>QUALIFICATIONS</h3>
						<ul>
							<li>Recent Android development experience, strong Java experience</li>
							<li>Significant experience developing, releasing, and supporting Android applications</li>
							<li>Ability to get things done on a small team and/or independently</li>
							<li>A burning desire to solve problems</li>
							<li>High school or college coding genius (but we&#39;ll still talk to you if you have a B.S., M.S., or Ph.D. in Computer Science)</li>
						</ul>
						<h3>DESIRED</h3>
						<ul>
							<li>Fascinated by how mobile is changing the way people interact</li>
							<li>Experience with performance analysis and optimization</li>
							<li>Appreciation for beautiful apps</li>
							<li>Personal knowledge about how today&#39;s crazy teens use technology</li>
						</ul> 
						<h3>To apply, send us your resume at jobs@wislr.me.</h3>
					</div>
				</div>
				<div id="ios" class="accordion-body collapse">
					<div class="accordion-inner body-inner">
						<h3>RESPONSIBILITIES</h3>
						<ul>
							<li>Lead the implementation of new product features for the wislr app</li>
							<li>Build beautiful user interfaces while maintaining ongoing product features</li>
							<li>Collaborate with the team around the creation of new features</li>
							<li>Prototype and test product features frequently</li>
							<li>Contribute radically new and different views to each idea</li>
							<li>Writing clean, maintainable code while rapidly iterating and shipping</li>
							<li>Be fun and interesting, and at least a little weird</li>
						</ul>	 
						<h3>QUALIFICATIONS</h3>
						<ul>
							<li>Recent iOS development experience, strong C++/Objective-C experience</li>
							<li>Significant experience developing, releasing, and supporting iOS applications</li>
							<li>Ability to get things done on a small team and/or independently</li>
							<li>A burning desire to solve problems</li>
							<li>High school or college coding genius (but we&#39;ll still talk to you if you have a B.S., M.S., or Ph.D. in Computer Science)</li>
						</ul>
						<h3>DESIRED</h3>
						<ul>
							<li>Fascinated by how mobile is changing the way people interact</li>
							<li>Experience with performance analysis and optimization</li>
							<li>Appreciation for beautiful apps</li>
							<li>Personal knowledge about how today&#39;s crazy teens use technology</li>
						</ul> 
						<h3>To apply, send us your resume at jobs@wislr.me.</h3>
					</div>
				</div>
				<div id="backend" class="accordion-body collapse">
					<div class="accordion-inner body-inner">
						<h3>RESPONSIBILITIES</h3>
						<ul>
							<li>Architect and build a scalable, secure, backend solution for the wislr app</li>
							<li>Help evolve and refine the backend and our analytics to improve outcomes and optimize efficiency</li>
							<li>Maintain our messaging servers</li>
							<li>Contribute new ideas to continually improve our app</li>
							<li>Be fun and interesting, and at least a little weird</li>
						</ul>
						<h3>QUALIFICATIONS</h3>
						<ul>
							<li>B.S., M.S., or Ph.D in Computer Science or equivalent</li>
							<li>2+ years of experience in Java development</li>
							<li>Have developed and maintained scalable backends in production</li>
							<li>Thorough understanding of protocols such as XMPP (Openfire)</li>
							<li>Comfortable leveraging AWS, Google AppEngine, etc.</li>
							<li>Experience with agile development practices and methodologies such as Scrum, TDD, BDD and Unit Testing</li>
							<li>Experience with Continuous Integration and automated development tools and processes</li>
						</ul>
						<h3>To apply, send us your resume at jobs@wislr.me.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>