<%= render "shared/header" %>
<div class="container content">
	<div class="row-fluid">
		<div class="span3">
			<%= render "shared/sidebar" %>
		</div>
		<div class="span9">
			<h2>We're Hiring!</h2>
			<p>
				We are in the heart of Palo Alto (261 Hamilton) and very close to the Caltrain.  We are building an exceptional team of young people who are ready to change the world, and know that they can make a difference.
			</p>
			<ul class="jobs-tab">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" id="user-growth">
						<h4>
							User Growth
							<b class="caret"></b>
						</h4>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="user-growth">
						<li class="dropdown-content">
							<a href="#growth-hacker" data-toggle="tab">
								Growth Hacker
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="engineering">
						<h4>
							Engineering
							<b class="caret"></b>
						</h4>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="engineering">
						<li>
							<a href="#android" data-toggle="tab">
								Lead Android Engineer
							</a>
						</li>
						<li class="dropdown-content">
							<a href="#iOS" data-toggle="tab">
								Lead iOS Engineer
							</a>
						</li>
						<li class="dropdown-content">
							<a href="#backend" data-toggle="tab">
								Lead Backend Engineer
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="tab-content">
				<div class="active tab-pane tab-overview">
					<h3>User Growth</h3>
					<p>
						We are looking for an energetic team player to help lead user growth and acquisition. wislr HQ is taking creative applications that show us you're a total go getter, capable of working in the relatively undefined realm of teen user acquisition. With our sights set on a mid-fall launch, you'll have the opportunity to test out multiple user strategies before the big game, ensuring rockstar status within our organization early on.
					</p>
					<h3>Engineering</h3>
					<p>
						We are looking for Lead Ninja-neers who can not only code, but are excited to learn and participate in all facets of building a young company. We have a laidback (uniform free) environment and enjoy discussing new product ideas, designing features, hacking, and disrupting class. Being popular (or even liked) in high school is not a requirement...
					</p>
				</div>
				<div class="tab-pane tab-description" id="growth-hacker">
					<h2>Growth Hacker</h2>
					<h3>Responsibilities</h3>
					<h4>User Growth &amp; Customer Acquisition
					</h4>
					<ul>
						<li>A big part of your job will be working with our high school interns to support their efforts to drive adoption of wislr with their friends.</li>
						<li>Track customer growth (daily downloads, DAU, app performance) and other metrics as defined by the wislr team, and yourself. </li>
					</ul>
					<h4>Market Intelligence
					</h4>
					<ul>
						<li>Be the expert on our core teen customer, how they use mobile and social technology, gain insight into their app usage; be the expert on your competition and how to crush them.  Areas of market research include market information, market segmentation and market trends - all focused on how to grow the market!
						</li>
					</ul>
					<h4>Social Media</h4>
					<ul>
						<li>Our core teen audience uses social media on a daily basis. We will use social media in a variety of ways to build our community and support the growth of our product.</li>
					</ul>
					<h4>To apply, send us your resume at <a href="mailto:jobs@wislr.me">jobs@wislr.me</a></h4>
					<a data-mode="apply" href="https://angel.co/wislr?follow=1&type=Startup&id=238426"></a><script src="https://angel.co/javascripts/embed.js" type="text/javascript"></script>
				</div>
				<div class="tab-pane tab-description" id="android">
					<h2>Lead Android Engineer</h2>
					<h3>Responsibilities</h3>
					<ul>
						<li>Lead the implementation of new product features for the wislr app</li>
						<li>Build beautiful user interfaces while maintaining ongoing product features</li>
						<li>Collaborate with the team around the creation of new features</li>
						<li>Prototype and test product features frequently</li>
						<li>Contribute radically new and different views to each idea</li>
						<li>Writing clean, maintainable code while rapidly iterating and shipping</li>
						<li>Be fun and interesting, and at least a little weird</li>
					</ul>	 
					<h3>Qualifications</h3>
					<ul>
						<li>Recent Android development experience, strong Java experience</li>
						<li>Significant experience developing, releasing, and supporting Android applications</li>
						<li>Ability to get things done on a small team and/or independently</li>
						<li>A burning desire to solve problems</li>
						<li>High school or college coding genius (but we&#39;ll still talk to you if you have a B.S., M.S., or Ph.D. in Computer Science)</li>
					</ul>
					<h3>Desired</h3>
					<ul>
						<li>Fascinated by how mobile is changing the way people interact</li>
						<li>Experience with performance analysis and optimization</li>
						<li>Appreciation for beautiful apps</li>
						<li>Personal knowledge about how today&#39;s crazy teens use technology</li>
					</ul> 
					<h4>To apply, send us your resume at <a href="mailto:jobs@wislr.me">jobs@wislr.me</a></h4>
				</div>
				<div class="tab-pane tab-description" id="iOS">
					<h2>Lead iOS Engineer</h2>
					<h3>Responsibilities</h3>
					<ul>
						<li>Lead the implementation of new product features for the wislr app</li>
						<li>Build beautiful user interfaces while maintaining ongoing product features</li>
						<li>Collaborate with the team around the creation of new features</li>
						<li>Prototype and test product features frequently</li>
						<li>Contribute radically new and different views to each idea</li>
						<li>Writing clean, maintainable code while rapidly iterating and shipping</li>
						<li>Be fun and interesting, and at least a little weird</li>
					</ul>	 
					<h3>Qualifications</h3>
					<ul>
						<li>Recent iOS development experience, strong C++/Objective-C experience</li>
						<li>Significant experience developing, releasing, and supporting iOS applications</li>
						<li>Ability to get things done on a small team and/or independently</li>
						<li>A burning desire to solve problems</li>
						<li>High school or college coding genius (but we&#39;ll still talk to you if you have a B.S., M.S., or Ph.D. in Computer Science)</li>
					</ul>
					<h3>Desired</h3>
					<ul>
						<li>Fascinated by how mobile is changing the way people interact</li>
						<li>Experience with performance analysis and optimization</li>
						<li>Appreciation for beautiful apps</li>
						<li>Personal knowledge about how today&#39;s crazy teens use technology</li>
					</ul> 
					<h4>To apply, send us your resume at <a href="mailto:jobs@wislr.me">jobs@wislr.me</a></h4>
				</div>
				<div class="tab-pane tab-description" id="backend">
					<h2>Lead Backend Engineer</h2>
					<h3>Responsibilities</h3>
					<ul>
						<li>Architect and build a scalable, secure, backend solution for the wislr app</li>
						<li>Help evolve and refine the backend and our analytics to improve outcomes and optimize efficiency</li>
						<li>Maintain our messaging servers</li>
						<li>Contribute new ideas to continually improve our app</li>
						<li>Be fun and interesting, and at least a little weird</li>
					</ul>
					<h3>Qualifications</h3>
					<ul>
						<li>B.S., M.S., or Ph.D in Computer Science or equivalent</li>
						<li>2+ years of experience in Java development</li>
						<li>Have developed and maintained scalable backends in production</li>
						<li>Thorough understanding of protocols such as XMPP (Openfire)</li>
						<li>Comfortable leveraging AWS, Google AppEngine, etc.</li>
						<li>Experience with agile development practices and methodologies such as Scrum, TDD, BDD and Unit Testing</li>
						<li>Experience with Continuous Integration and automated development tools and processes</li>
					</ul>
					<h4>To apply, send us your resume at <a href="mailto:jobs@wislr.me">jobs@wislr.me</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>
</div>