<div class="container content">
	<h2>High School Advisory Board</h2>	
	<div class="row-fluid">
		<div class="span6">
			<h3>Anmol</h3>
			<p>Anmol Chadha is a rising senior from California. She is passionate about service, and also enjoys participating in debate, field hockey, and bhangra dance. She loves reading, listening to music, drinking coffee, and traveling. The top two items on her bucket list are exploring Spain and adopting a dog from a shelter. She co-founded Young Hands for a Cause (younghands.org) to promote volunteerism and social awareness among young children. </p>
		</div>
		<div class="span6">
			<h3>Marc</h3>
			<p>Marc Robert Wong is the founder of TeenTechSF, an interactive tech community for teens to collaborate, innovate, and create in the heart of Silicon Valley and received a Certificate of Honor from Mayor Lee for his efforts to engage SF youth in tech. He has invented two apps and interned with WeGame, Story-Telling Media, and helped launch the Vets in Tech program at Adobe with TechCentralSF. He also serves on the SFPL Youth Advisory Board and is working on developing a national Digital Learning Lab prototype to ensure that every teen with a library card has access to internet resources and programs to gain tech skills. Marc is a dual citizen of US and France and speaks fluent French and English, advanced Spanish, and basic Mandarin. He is currently a sophomore pursuing the French Baccalaureate, Math/Science track, at International High School. </p>
		</div>
	</div>
</div>	