<%= render "shared/header" %>
<div class="container content">
	<div class="row-fluid">
		<div class="span3">
			<%= render "shared/sidebar" %>
		</div>
		<div class="span9">
			<h2>High School Advisory Board</h2>
			<div class="row-fluid">
				<div class="span6">
					<div class="profile-center">
						<img class="profile-image" src="/board/noor.jpg">
						<h4>Anmol</h4>
					</div>

					<p>Anmol Chadha is a rising senior from California. She is passionate about service, and also enjoys participating in debate, field hockey, and bhangra dance. She loves reading, listening to music, drinking coffee, and traveling. The top two items on her bucket list are exploring Spain and adopting a dog from a shelter. She co-founded Young Hands for a Cause (younghands.org) to promote volunteerism and social awareness among young children. </p>
				</div>
				<div class="span6">
					<div class="profile-center">
						<img class="profile-image" src="/board/marc.png">
						<h4>Marc</h4>
					</div>

					<p>Marc Robert Wong is the founder of TeenTechSF, an interactive tech community for teens to collaborate, innovate, and create in the heart of Silicon Valley and received a Certificate of Honor from Mayor Lee for his efforts to engage SF youth in tech. He has invented two apps and interned with WeGame, Story-Telling Media, and helped launch the Vets in Tech program at Adobe with TechCentralSF. He is currently a sophomore pursuing the French Baccalaureate, Math/Science track, at International High School. </p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="profile-center">
						<img class="profile-image" src="/board/ash.png">
						<h4>Ash</h4>
					</div>
					<p>Ash Bhat is a teenage developer, entrepreneur and software developer based in San Jose, CA that spends his waking hours in San Francisco. As an avid hacker, Ash can be seen attending hackathons often and primarily builds iOS applications.
						During the school year, Ash is sometimes observed doing his hobby of attending high school. Ash also likes to speak and does so between keynotes and talk at conferences and at the Model United Nations club that he runs at his school.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>	