<footer>
	<div class="row-fluid">
		<div class="span4">
			<h2>Company</h2>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/youth-advisory">Youth Advisory Board</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="mailto:hello@wislr.me">Contact Us</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Get Started</h2>
			<ul>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="">iOS</a> | <a href="">Android</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Policies</h2>
			<ul>
				<li><a href="/community">Community Standards</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
				<li><a href="/tos">Terms Of Service</a></li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<a href=""><img src=""></a>
		<a href=""><img src=""></a>
		<a href=""><img src=""></a>
	</div>
</footer>
