<footer>
	<div class="container">
		<div class="row-fluid">
		<div class="span3">
			<h4>Company</h4>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/youth-advisory">Youth Advisory Board</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="mailto:hello@wislr.me">Contact Us</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Get Started</h4>
			<ul>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="#">iOS</a> | <a href="#">Android</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Policies</h4>
			<ul>
				<li><a href="/community">Community Standards</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
				<li><a href="/tos">Terms Of Service</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Follow Us</h4>
			<ul>
					<a href="http://facebook.com/wislrme"><img src="/social-media/facebook.png" class="social"></a>
					<a href="http://twitter.com/wislrme"><img src="/social-media/twitter.png" class="social"></a>
					<a href="http://tumblr.com/chatpassme"><img src="/social-media/tumblr.png" class="social"></a>
					<a href="http://instagram.com/wislrme"><img src="/social-media/insta.png" class="social"></a>
			</ul>
		</div>
	</div>

</footer>
