<link href="bootstrap.css" type="text/css" rel="stylesheet" />
<link href="footer.css" type="text/css" rel="stylesheet" />

<footer class="center">
	<div class="container">
		<div class="row-fluid">
		<div class="span3">
			<h2>Company</h2>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/youth-advisory">Youth Advisory Board</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="mailto:hello@wislr.me">Contact Us</a></li>
			</ul>
		</div>
		<div class="span3">
			<h2>Get Started</h2>
			<ul>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="">iOS</a> | <a href="">Android</a></li>
			</ul>
		</div>
		<div class="span3">
			<h2>Policies</h2>
			<ul>
				<li><a href="/community">Community Standards</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
				<li><a href="/tos">Terms Of Service</a></li>
			</ul>
		</div>
		<div class="span3">
			<h2>Follow Us</h2>
			<ul>
					<a href="http://facebook.com/wislrme"><img src="facebook.png" class="social"></a>
					<a href="http://twitter.com/wislrme"><img src="twitter.png" class="social"></a>
					<a href="http://tumblr.com/chatpassme"><img src="tumblr.png" class="social"></a>
					<a href="http://instagram.com/wislrme"><img src="insta.png" class="social"></a>
			</ul>
		</div>
	</div>

</footer>
