<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="company" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Company
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-list">
          <li><a href="http://wislrme.wordpress.com/" id="blog">Blog</a></li>
          <li><a href="/about" id="about">About</a></li>
          <li><a href="/youth-advisory" id="youth-advisory">Youth Advisory Board</a></li>
          <li><a href="/jobs" id="jobs">Jobs</a></li>
          <li><a href="mailto:hello@wislr.me">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Get Started
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-list">
          <li><a href="/faq">FAQ</a></li>
          <li><a href="#">iOS</a> | <a href="#">Android</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="policies" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        Policies
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="accordion-list">
          <li><a href="/community" id="community">Community Standards</a></li>
          <li><a href="/privacy-policy" id="privacy-policy">Privacy Policy</a></li>
          <li><a href="/tos" id="tos">Terms Of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Follow Us
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul class="accordion-list">
            <li><a href="http://facebook.com/wislrme">Facebook</a></li>
            <li><a href="http://twitter.com/wislrme">Twitter</a></li>
            <li><a href="http://tumblr.com/chatpassme">Tumblr</a></li>
            <li><a href="http://instagram.com/wislrme">Instagram</a></li>
        </ul>
        </div>
      </div>
    </div>
</div>

