<div class="container content">
	<div class="row-fluid">
		<div class="span6 iphone-demo">
			<img class="iphone5" src="/iphone5.png">
			<div id="heroCarousel" class="vertical carousel slide hero-carousel">
				<ol class="carousel-indicators">
					<li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#heroCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="item active"><img src="/whistles/whistle1.png"></div>
					<div class="item"><img src="/whistles/whistle1-answered.png"></div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control right" href="#heroCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
		<div class="span6 hero-copy">
			<h1>The Private High School Mobile Network</h1>
			<p>Do you WISL?</p>
			<button class="btn btn-primary btn-large">Get Invited</button>
		</div>
	</div>
</div>