<!-- Carousel -->
<div id="heroCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#heroCarousel" data-slide-to="1"></li>
    <li data-target="#heroCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	WHAT THE FUCK?
    </div>
    <div class="item">
    	DAMN SON
    </div>
    <div class="item">
    	HOLY SHIT
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#heroCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#heroCarousel" data-slide="next">&rsaquo;</a>
</div>