.profile-image {
	width: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.content {
	.row-fluid {
		margin-bottom: 14px;
	}


	.span3 {
		text-align: center;

		h4 {
			margin-bottom: 0;
		}
	}
}

