footer {
  position: fixed;
	width: 100%;
	bottom: 0;
	background: #eee;
	padding: 20px 0 40px;
}

footer h2 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0;
	color: #00969b;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer .social {
	margin-right: 2px;
	width: 28px;
}

footer li {
	margin-bottom: 2px;
}

footer a {
	color: #565656;
}
