$grey: #565656;
$teal: #00969b;
$light-grey: #eee;

@media screen and (max-width: 767px) {
	#footer {
		text-align: center;
	}
}

#footer {
	width: 100%;
	background: $light-grey;
	padding: 40px 0 40px;

	.container {
		width: 65%;
	}

	h4 {
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	color: $teal;
	}

	ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

	.social {
	margin-right: 2px;
	width: 28px;
	}

	li {
	margin-bottom: 2px;
	}

	a {
		color: $grey;
		&:hover {
			text-decoration: none;
			color:
			lighten($grey, 20%);
		}
	}
		
}
