$grey: #565656;
$teal: #00969b;

footer {
	width: 100%;
	background: #eee;
	padding: 40px 0 40px;
}

footer h4 {
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	color: $teal;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer .social {
	margin-right: 2px;
	width: 28px;
}

footer li {
	margin-bottom: 2px;
}

footer a {
	color: $grey;
	&:hover {
		text-decoration: none;
		color:
		lighten($grey, 20%);
	}
}
