$grey: #565656;
$teal: #00969b;
$light-grey: #eee;

.jobs-tab {
	list-style-type: none;
	margin: 0;
	border-bottom: 1px solid $light-grey;
	.dropdown {
		display: inline-block;
		padding: 0 20px;
		.dropdown-toggle {
			text-decoration: none;
			color: $teal;
			text-transform: uppercase;
		}
	}
}

.tab-overview {
}

.tab-description {
}
