$grey: #565656;
$teal: #00969b;
$light-grey: #eee;

.nav {
	margin-bottom: 0;
}

.nav-tabs > li > a {
	padding: 0 10px;
	background-color: $light-grey;
}

.sidebar-header-tab {
	display: inline-block;
	text-transform: uppercase;
	color: $teal;
}

.sidebar-list {
	background-color: $light-grey;
	margin-bottom: 10px;
	margin-left: 0;
	border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
}

.sidebar-tab {
	list-style-type: none;
	display: inline-block;
}

.sidebar-tab a {
	text-decoration: none;
	color: $grey;
	&:hover {
		color:
		lighten($grey, 20%);
	}
}

.tab-content {
	background-color: $light-grey;
	padding: 20px;
	border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
}