$teal: #00969b;
$grey: #565656;

.accordion-inner ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		text-align: left;
		margin: 0 0 5px;
		padding: 0;
		a {
			color: $grey;
			&:hover {
				text-decoration: none;
				color: lighten($grey,20%);
			}
		}
	}
	
}

.accordion-toggle {
	font-weight: bold;
	color: $teal;
	&:hover {
		text-decoration: none;
		background: #eee;
		color:
		darken($teal,10%);
	}
	.active {
		background: #eee;
		font-weight: bold;
	}
}

.open-sidebar {
	background: #eee;
}

.open-link {
	text-decoration: underline;
}