<!DOCTYPE html>
<html>
<head>
	<title>Wislr</title>
	<script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
	<%= stylesheet_link_tag    "application" %>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<style type="text/css"></style>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
<script type="text/javascript">
</script>
</html>
